@import "tailwindcss";

.container {
  max-width: 1569px;
  margin: 0 auto;
  padding-inline: 30px;
}

.banner_img {
  background: url("../assets/banner_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background_image {
  background: url("../assets/background_image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about_banner {
  background: url("../assets/about_banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.serviceBanner {
  background: url("../assets/serviceBanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ServiceDetailsBanner {
  background: url("../assets/serviceDetailsBanner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ourTeamBaner {
  background: url("../assets/ourteamBanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ourBlog {
  background: url("../assets/blog_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blogDetailsBanner {
  background: url("./../assets/blogDetailsBanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contactUsBanner {
  background: url("../assets/contactUsBanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginBannerImage {
  background: url("../assets/login_bannerImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pricingPlanBanner {
  background: url("../assets/pricing_plan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.conditionBannerImage {
  background: url("../assets/conditionBanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.faqBannerImage {
  background: url("../assets/faqBannerImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}